body {
  background: #E0FAFF;
}
header.navbar {
  background: #150578;
  padding: 10px;
  border-bottom: 2px solid #E0FAFF;
  font-size: 1.5rem;
}

header.navbar .navbar-item{
  color: #FFF;
  font-weight: bold;
}

header.navbar .navbar-item:hover {
  color: #E0FAFF;
}